.auth-success-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("https://img.freepik.com/premium-photo/educational-concept-books-blue_387680-275.jpg") no-repeat center center fixed;
  background-size: cover;
}

.auth-success-container h1 {
  color: #003366;
  margin-bottom: 10px;
}

.auth-success-container p {
  color: #222;
  margin-bottom: 20px;
  font-size: 16px;
}

.auth-success-container .start-btn {
  padding: 10px 25px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-success-container .start-btn:hover {
  background-color: #003366;
}
