.home-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/premium-photo/educational-concept-books-blue_387680-275.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-box {
  margin-top: 20px;
  max-width: 300px;
  width: 90%;
  background: rgba(255,255,255,0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  background-color: #0056b3;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

.login-box button:hover {
  background-color: #003366;
}

.start-btn {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 10px;
  color: white;
  background-color: #0056b3;
  border-radius: 8px;
  text-decoration: none;
}
