.home-container {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  background: linear-gradient(
      rgba(240, 246, 255, 0.6),
      rgba(240, 246, 255, 0.6)
    ),
    url("https://img.freepik.com/premium-photo/educational-concept-books-blue_387680-275.jpg?w=740") 
      no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #222;
}

.login-box {
  margin: 30px auto;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 8px;
}

.login-box button:hover {
  background-color: #003366;
}
