html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background: url("https://images.unsplash.com/photo-1554774853-7d4a7bb165e8?auto=format&fit=crop&w=1470&q=80") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-top: 20px;
}

.page-content {
  padding: 40px 20px;
  min-height: calc(100vh - 140px);
  background: transparent;
}
